- content_for :title, t(:sign_in).mb_chars.capitalize

.row
  .small-12.columns
    %h1= t(:sign_in).mb_chars.capitalize
.row
  .small-4.columns
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = f.label :username, t(:username).mb_chars.capitalize
      = f.text_field :username, :autofocus => true
      = f.label :password, t(:password).mb_chars.capitalize
      = f.password_field :password
      = f.submit t(:sign_in).mb_chars.capitalize
