.row
  .small-12.columns
    %h1= t(:publications).mb_chars.capitalize
.row
  .small-12.columns
    %table
      %thead
        %tr
          %th.main-column= t(:title).mb_chars.capitalize
          %th= t(:published_at).mb_chars.capitalize
          %th= t(:actions).mb_chars.capitalize
      %tbody
        - @publications.each do |publication|
          %tr
            %td= publication.title
            %td= l(publication.created_at, format: :short)
            %td
              = link_to t(:edit), edit_admin_publication_path(publication), class: "inline tiny button"
              = link_to t(:delete), "#", class: "inline tiny button alert"
