- content_for :title, t(:publications).mb_chars.capitalize

.row
  .small-12.columns
    %h1= t(:publications).mb_chars.capitalize
.row
  .small-12.columns
    = link_to t(:new_publication).mb_chars.capitalize, new_admin_publication_path, class: "small button"
.row
  .small-12.columns
    %table#publications
      %thead
        %tr
          %th= t(:thumbnail).mb_chars.capitalize
          %th.main-column= t(:title).mb_chars.capitalize
          %th= t(:published_at).mb_chars.capitalize
          %th= t(:actions).mb_chars.capitalize
      %tbody
        - @publications.each do |publication|
          %tr
            %td.publication_thumbnail= image_tag(publication.thumbnail(:thumb)) if publication.thumbnail?
            %td= link_to publication.title, publication_path(publication)
            %td= l(publication.created_at, format: :short)
            %td
              = link_to t(:edit).mb_chars.capitalize, edit_admin_publication_path(publication), class: "inline tiny button"
              = link_to t(:delete).mb_chars.capitalize, admin_publication_path(publication), method: :delete, confirm: t(:are_you_sure?).mb_chars.capitalize, class: "inline tiny button alert"
